@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --font-heading: "Raleway", sans-serif;
  --font-text: "Roboto", sans-serif;
  --text: #ffffff;
  --background: #050505;
  --primary: #1de598;
  --secondary: #11221b;
  --accent: #9f635b;
}

/* -- Layout -- */

body {
  height: 100vh;
/*  display: grid;
  grid: 
    "header header" 10%
    "sidebar main" 90% /
    1fr 4fr; */
}

button {
  display: flex;
}

header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

/* --- Header --- */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Sidebar --- */

#sidebar {
  padding: 2rem 1.5rem;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#highlighted-todos > ul {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

#projects {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.nav-item {
  padding: .3rem .5rem;
  border-radius: 3px;
  display: flex;
  gap: .3rem;
  align-items: center;
}

/* --- Content --- */ 

main {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

main h1 {
  margin-bottom: 2rem;
}

main ul {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

main li {
  display: flex;
  flex-direction: column;
}

.primary {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.label-section {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.btn-section {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.priority-display,
.due-date-display {
  display: flex;
  gap: .5rem;
}

.details {
  display: grid;
  grid: 
    "priority dueDate" 1fr 
    "desc desc" 2fr /
    1fr 1fr;
  padding: 0 1rem;
  padding-bottom: 1.5rem;
}

.hidden {
  display: none;
}

.priority-display {
  grid-area: priority;
}

.due-date-display {
  grid-area: dueDate;
}

.description-display {
  grid-area: desc;
}

.description-prefix {
  margin-bottom: .5rem;
}

/* --- Modal --- */

.modal-container {
  width: 500px;
  padding: 1rem 1.5rem;
  display: flex;
  gap: 2rem;
}

form .left-section,
form .right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

form .left-section {
  flex: 1;
}

[class^="form-"] {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.form-desc {
  flex-direction: column;
  align-items: baseline;
}

.form-desc textarea {
  min-height: 100px;
  width: 100%;
  resize: none;
}

/* -- Style -- */

body {
  color: var(--text);
  font-family: var(--font-text);
}

button:hover {
  cursor: pointer;
}

header {
  background-color: var(--primary);
}

#sidebar {
  background-color: var(--secondary);
}

main {
  background-color: var(--background);
}

/* --- Header --- */


header * {
  color: var(--background);
  font-family: var(--font-heading);
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -1px;
}

header .material-symbols-sharp {
  font-size: 2.5rem;
}

/* --- Sidebar --- */

.nav-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .3);
}

.nav-item.selected {
  border-left: 3px solid var(--accent);
  background-color: rgba(0, 0, 0, .3);
}

#inbox p {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

#inbox .material-symbols-sharp {
  font-size: 1.5rem;
}

#highlighted-todos p {
  letter-spacing: 1px;
}

#highlighted-todos .material-symbols-sharp {
  font-size: 1.35rem;
}

#projects {
  border-top: 2px solid var(--primary);
  overflow: auto;
}

#projects .material-symbols-sharp {
  font-size: 1rem;
}

#projects p {
  font-size: .9rem;
} 

/* --- Content --- */

main h1 {
  font-family: var(--font-heading);
  font-size: 2.7rem;
  letter-spacing: 2px;
}

main ul {
  border-top: 2px solid var(--primary);
  overflow: auto;
}

main li:not(:last-child) {
  border-bottom: 2px solid var(--secondary);
}

.primary input[type="checkbox"] {
  accent-color: var(--accent);
}

.done * {
  opacity: .4;
}

.done label {
  text-decoration: line-through;
}

.primary button {
  border: none;
  border-radius: 5px;
  padding: .5rem;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary button:hover {
  background-color: var(--secondary);
}

.primary button:active {
  opacity: .7;
}

.primary > p {
  color: var(--accent);
}

.details {
  font-size: .9rem;
}

/* --- Modal --- */

dialog {
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
}