@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&display=swap');

:root {
  --font-heading: "Raleway", sans-serif;
  --text: #ffffff;
  --background: #050505;
  --primary: #1de598;
  --secondary: #11221b;
  --accent: #9f635b;
}

/* -- Layout -- */

body {
  height: 100vh;
  display: grid;
  grid: 
    "header header" 10%
    "sidebar main" 90% /
    1fr 4fr;
}


header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

/* -- Style -- */

header {
  background-color: var(--primary);
}

#sidebar {
  background-color: var(--secondary);
}

main {
  background-color: var(--background);
}

/* --- Header --- */

header > h1 {
  font-family: var(--font-heading);
}