@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --font-heading: "Raleway", sans-serif;
  --font-text: "Roboto", sans-serif;
  --text: #ffffff;
  --background: #050505;
  --primary: #1de598;
  --secondary: #11221b;
  --accent: #9f635b;
}

/* -- Layout -- */

body {
  height: 100vh;
  display: grid;
  grid: 
    "header header" 10%
    "sidebar main" 90% /
    1fr 4fr;
}


header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

/* --- Header --- */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Sidebar --- */

#sidebar {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* -- Style -- */

body {
  color: var(--text);
  font-family: var(--font-text);
}

header {
  background-color: var(--primary);
}

#sidebar {
  background-color: var(--secondary);
}

main {
  background-color: var(--background);
}

/* --- Header --- */

header > h1 {
  color: var(--background);
  font-family: var(--font-heading);
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -1px;
}

/* --- Sidebar --- */

#sidebar p:hover {
  cursor: pointer;
}

#inbox > p {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

#highlighted-todos > ul {
  display: flex;
  flex-direction: column;
  gap: .6rem;
}
